<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arvifox.arvi">
    <!-- if AR core required then minsdk must be 24 or higher -->
    <!-- <uses-sdk android:minSdkVersion="16" /> -->
    <!-- <uses-feature android:name="android.hardware.camera.ar" android:required="true" /> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- <uses-permission android:name="android.permission.ACCOUNT_MANAGER" /> -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Arvifox"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Arvifox.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".simplemisc.misc4window.WindowActivity"
            android:exported="false"
            android:label="Herher"
            android:theme="@style/Arvifox" />
        <activity
            android:name=".MainActivity"
            android:clearTaskOnLaunch="true"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Arvifox"></activity> <!-- android:value="required" /> -->
        <activity
            android:name=".simplemisc.phoneinfo.PhoneInfoActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Arvifox" />
        <activity
            android:name=".https.HttpsActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Arvifox" />
        <activity
            android:name=".geoposition.GeoPositionActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Arvifox" />
        <activity
            android:name=".googlemaps.GoogleMapsActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Arvifox" />
        <activity
            android:name=".google.GoogleBaseStartActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Arvifox" />
        <activity
            android:name=".google.googleapi.visiontest.VisionApiTestActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Arvifox" />
        <activity
            android:name=".google.googleapi.AccountsActivity"
            android:exported="false"
            android:label="@string/title_activity_accounts"
            android:parentActivityName=".google.GoogleBaseStartActivity"
            android:theme="@style/Arvifox">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arvifox.arvi.google.GoogleBaseStartActivity" />
        </activity>
        <activity
            android:name=".google.googleapi.OAuthTestActivity"
            android:exported="false"
            android:label="@string/title_activity_oauth_test"
            android:parentActivityName=".google.GoogleBaseStartActivity"
            android:theme="@style/Arvifox">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arvifox.arvi.google.GoogleBaseStartActivity" />
        </activity>
        <activity
            android:name=".google.ar.StartArActivity"
            android:exported="false"
            android:label="@string/title_activity_start_ar"
            android:parentActivityName=".google.GoogleBaseStartActivity"
            android:theme="@style/Arvifox">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arvifox.arvi.google.GoogleBaseStartActivity" />
        </activity>
        <activity
            android:name=".google.ar.HelloSceneActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/title_activity_hello_scene"
            android:parentActivityName=".google.ar.StartArActivity"
            android:screenOrientation="locked"
            android:theme="@style/Arvifox">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arvifox.arvi.google.ar.StartArActivity" />
        </activity>
        <activity
            android:name=".google.ar.AugmentedImageActivity"
            android:exported="false"
            android:label="@string/title_activity_augmented_image"
            android:parentActivityName=".google.ar.StartArActivity"
            android:theme="@style/Arvifox">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arvifox.arvi.google.ar.StartArActivity" />
        </activity>
        <activity
            android:name=".simplemisc.SimpleMiscActivity"
            android:exported="false"
            android:label="@string/title_activity_simple_misc"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Arvifox">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arvifox.arvi.MainActivity" />
        </activity>
        <activity
            android:name=".simplemisc.SimpleMisc2Activity"
            android:exported="false"
            android:label="@string/title_activity_simple_misc"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Arvifox">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arvifox.arvi.MainActivity" />
        </activity>
        <activity
            android:name=".navig.NavigActivity"
            android:exported="false"
            android:label="@string/title_activity_simple_misc"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Arvifox">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arvifox.arvi.MainActivity" />
        </activity>
        <activity
            android:name=".simplemisc.camera.CameraShotActivity"
            android:exported="false"
            android:label="@string/title_activity_camera_shot"
            android:parentActivityName=".simplemisc.SimpleMiscActivity"
            android:theme="@style/Arvifox">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arvifox.arvi.simplemisc.SimpleMiscActivity" />
        </activity>
        <activity
            android:name=".simplemisc.sensor.SensorActivity"
            android:exported="false"
            android:parentActivityName=".simplemisc.SimpleMiscActivity"
            android:theme="@style/Arvifox">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arvifox.arvi.simplemisc.SimpleMiscActivity" />
        </activity>
        <activity
            android:name=".simplemisc.servicehandler.ServiceHandlerActivity"
            android:exported="false"
            android:label="@string/title_activity_service_handler"
            android:parentActivityName=".simplemisc.SimpleMiscActivity"
            android:theme="@style/Arvifox">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arvifox.arvi.simplemisc.SimpleMiscActivity" />
        </activity>
        <activity
            android:name=".simplemisc.matcomp.MatCompActivity"
            android:exported="false"
            android:label="MatComp"
            android:parentActivityName=".simplemisc.SimpleMiscActivity"
            android:theme="@style/Arvifox">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arvifox.arvi.simplemisc.SimpleMiscActivity" />
        </activity>
        <activity
            android:name=".simplemisc.anim.AnimActivity"
            android:exported="false"
            android:label="Anim"
            android:parentActivityName=".simplemisc.SimpleMiscActivity"
            android:theme="@style/Arvifox">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arvifox.arvi.simplemisc.SimpleMiscActivity" />
        </activity>
        <activity
            android:name=".simplemisc.workmanager.WorkManagerActivity"
            android:exported="false"
            android:label="Work"
            android:parentActivityName=".simplemisc.workmanager.WorkManSelectActivity"
            android:theme="@style/Arvifox">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arvifox.arvi.simplemisc.workmanager.WorkManSelectActivity" />
        </activity>
        <activity
            android:name=".simplemisc.workmanager.WorkManSelectActivity"
            android:exported="false"
            android:label="Work"
            android:parentActivityName=".simplemisc.SimpleMiscActivity"
            android:theme="@style/Arvifox">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arvifox.arvi.simplemisc.SimpleMiscActivity" />
        </activity>
        <activity
            android:name=".simplemisc.view.NestedScrollActivity"
            android:exported="false"
            android:label="Nested"
            android:parentActivityName=".simplemisc.SimpleMiscActivity"
            android:theme="@style/Arvifox">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arvifox.arvi.simplemisc.SimpleMiscActivity" />
        </activity>
        <activity
            android:name=".simplemisc.matcomp.TaskColorActivity"
            android:exported="false"
            android:label="TaskColor"
            android:parentActivityName=".simplemisc.SimpleMiscActivity"
            android:theme="@style/Arvifox">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arvifox.arvi.simplemisc.SimpleMiscActivity" />
        </activity>
        <activity
            android:name=".simplemisc.tmdb.TmdbActivity"
            android:exported="false"
            android:label="Tmdb"
            android:parentActivityName=".simplemisc.SimpleMiscActivity"
            android:theme="@style/Arvifox">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arvifox.arvi.simplemisc.SimpleMiscActivity" />
        </activity>
        <activity
            android:name=".simplemisc.viewpager2.ViewPager2Activity"
            android:exported="false"
            android:label="ViewPager2"
            android:parentActivityName=".simplemisc.SimpleMiscActivity"
            android:theme="@style/Arvifox">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arvifox.arvi.simplemisc.SimpleMiscActivity" />
        </activity>
        <activity
            android:name=".simplemisc.moveimage.MoveImageActivity"
            android:exported="false"
            android:label="Move Image"
            android:parentActivityName=".simplemisc.SimpleMiscActivity"
            android:theme="@style/Arvifox">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arvifox.arvi.simplemisc.SimpleMiscActivity" />
        </activity>
        <activity
            android:name=".simplemisc.constrlayout.ConstrLayoutActivity"
            android:exported="false"
            android:label="Constr layout"
            android:parentActivityName=".simplemisc.SimpleMiscActivity"
            android:theme="@style/Arvifox">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arvifox.arvi.simplemisc.SimpleMiscActivity" />
        </activity>

        <meta-data
            android:name="com.google.ar.core"
            android:value="optional" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${googleGeoApiKey}" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/file_provider_authority"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
<!--        <provider-->
<!--            android:name="androidx.work.impl.WorkManagerInitializer"-->
<!--            android:authorities="${applicationId}.workmanager-init"-->
<!--            android:directBootAware="false"-->
<!--            android:exported="false"-->
<!--            android:multiprocess="true"-->
<!--            tools:node="remove"-->
<!--            tools:targetApi="n" />-->

        <service
            android:name=".google.firebase.FirebaseMessageService"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".siteback.BackGeoService"
            android:exported="false" />
        <service
            android:name=".simplemisc.servicehandler.FooService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".syncadapter.StubAuthenService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/stub_authen" />
        </service>
        <service
            android:name=".syncadapter.MySyncAdapterFoxService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <provider
            android:name=".syncadapter.StubProvider"
            android:authorities="com.arvifox.arvi.provider"
            android:exported="false"
            android:syncable="true" />

        <receiver
            android:name=".simplemisc.webviewbug.AppReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="com.arvifox.arvi" />
            </intent-filter>
        </receiver>
    </application>

</manifest>